name: PR Check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04-arm
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build and Test
        run: ./gradlew build

      - name: Docker Build Check
        run: |
          docker build . \
            --build-arg KEYSTORE_PASSWORD=dummy_password \
            --build-arg KEY_PASSWORD=dummy_password
